/* ==========
Global styles
========== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: oklch(98.4% 0.003 247.858);
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px oklch(86.9% 0.022 252.894);
  background-color: oklch(98.4% 0.003 247.858);
}
